.container {
    align-content: center;
    text-align: center;
    max-width: 400px;
    display: flex;
}
    .container_image {
        text-align: center;
        width: 50px;
        object-fit: contain;
        align-self: flex-start;
    }
    .container_text {
        text-align: center;
        flex: 1 1 auto;
    }
